@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}
:root {
  --basic-color: #EEEEEE;
  --basic-white: #FFFFFF;
  --font-color: #000000;
  --font-basiccolor:#283136;
  --font-address:#666666;
  --font-black30:rgba(0, 1, 1, 0.3);
  --icons-color:#E1E1E1;
  --button-grey:#EEEEEE;
  --button-greyhover: #DFDFDF;
  --button-greyactive:#D5D5D5;
  --button-color: #FB565A;
  --button-hover: #E74246;
  --button-active:#D7373B;
  --button-green:#00CA74;
  --button-hovergreen:#00BC6C;
  --button-activegreen:#00AA62;
  --button-yellow:#EFC849;
  --button-hoveryellow:#EAB534;
  --button-activeyellow:#E5A722;
  --button-textactive:rgba(255, 255, 255, 0.3);
  --button-shadow:rgba(0, 1, 1, 0.1);
  --basket-active:rgba(0, 0, 0, 0.3);
  --button-border:#DBDBDB;
}
.page {
  height: 100%;
  }

.page-body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--font-basiccolor);
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  min-width: 960px;
  margin: 0px auto;
}

.main-header {
  background-color: var(--basic-color);
  padding-bottom: 108px;
}
.index {
  padding: 0px;
  margin: 0px;
  margin-bottom: 80px;
}
.logo {
  margin-top: 49px;
}
.logo:hover {
  opacity: 0.7;
}
.logo:active {
  opacity: 0.3;
}
.header-grid {
  display: grid;
  grid-template-columns: 160px 1fr 160px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
}

.button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-color);
  border-radius: 3px;
}
.button:hover {
  background-color: var(--button-hover);
  }
.button:active {
background-color: var(--button-active);
box-shadow: inset 0px 3px 0px var(--button-shadow);
color:var(--button-textactive);
}


.button-yellow{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-yellow);
  border-radius: 3px;
}
.button-yellow:hover{
  background-color:var(--button-hoveryellow);
}
.button-yellow:active{
  background-color:var(--button-activeyellow) ;
  box-shadow: inset 0px 3px 0px var(--button-shadow);
  color: var(--button-textactive);
}
.button-green{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--button-green);
  border-radius: 3px;
}
.button-green:hover{
  background-color:var(--button-hovergreen);
}
.button-green:active{
  background-color: var(--button-activegreen);
  box-shadow: inset 0px 3px 0px var(--button-shadow) ;
  color: var(--button-textactive);
}
.navigation {
  margin-left: 202px;
  margin-top: 75px;
}
.navigation ul {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  list-style: none;
  margin-bottom: 9px;
}
.item-navigation {
  display: inline-block;
  margin-right: 45px;
}
.item-navigation a {
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
}
.item-navigation a:hover{
  color: var(--button-color);
}
.item-navigation a:active{
  color: var(--font-color);
  opacity: 0.3;
}

.basket {
  margin-top: 75px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  color: var(--font-color);
}

.basket span::before {
  content: url("../img/icons/basket.svg");
  margin-right: 25px;
}
.basket:hover{
  color: var(--button-color);
}
.basket:active{
  color: var(--basket-active);

}
.checked {
  border-bottom: var(--button-color) 2px solid ;
  width: 76px;
  }
.slider{
display: grid;
width: 1160px;
margin: 0px;
padding: 0px;
margin-left: auto;
margin-right: auto;
}
.slider ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  grid-row: 1/2;
  grid-column: 1/2;
}

.item-slider{
  width: 1160px;
  min-height: 431px;
  background-image:url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
}
.item-slider:nth-child(2) {
  background-image:url("../img/slide2.png");
}
.item-slider:nth-child(3) {
  background-image:url("../img/slide3.png");
}

.head-slider
{
  margin: 0px;
  padding: 0px;
  padding-top: 78px;
  color: var(--font-color);
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.desc-slider {
  margin: 0px;
  padding: 0px;
  padding-top: 25px;
  margin-bottom:38px;
}
.button-slider{
display: block;
width: 132px;
height: 18px;
padding-top: 17px;
padding-bottom: 15px;
padding-left: 54px;
padding-right: 54px;
}
.container-radio-slider {
  padding: 0px;
  margin: 0px;
  width: 96px;
  height: min-content;
  margin-top: 317px;
  margin-left: auto;
  margin-right: auto;
  grid-row:1/2;
  grid-column: 1/2;
  z-index: 1;
}
.radio-slider {
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  padding: 0px;
}
.radio-slider-list {
  margin-right: 17px;
  display: inline-block;
}
.radio-slider-list:last-child {
  margin-right: 0px;
}
.radio-slider-list input {
  width: 18px;
  height: 18px;
}
.services {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  min-height: 429px;
  border-bottom: 2px solid var(--button-grey) ;

}
.services ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
  width: 1160px;
  height: min-content;
  }
.item-services h3{
  margin: 0px;
  padding: 0px;
  padding-top: 171px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.item-services {
  margin: 0px;
  padding: 0px;
  width: 300px;
  min-height: 347px;
  background-image:url("../img/services1.png");
  background-repeat: no-repeat;
  background-position: top;
}
.item-services:nth-child(2){
background-image:url("../img/services2.png");
}
.item-services:nth-child(3){
  background-image:url("../img/services3\ .png");
  }
.description-services {
  margin: 0px;
  padding: 0px;
  padding-top: 16px;
  margin-bottom: 32px;
}
.item-services a{
  display: block;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 40px;
  width: 81px;
  height: 18px;
}
.slogan {
  color: var(--font-color);
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0px;
  padding:0px;
  padding-top: 73px;
}
.about-us {
  width: 1160px;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom:73px;
  display: grid;
  grid-template-columns: 651px 1fr;
  gap: 149px;
}
.desc-about-us {
  margin: 0px;
  padding: 0px;
  padding-top: 32px;
}
.about-us h3 {
  margin: 0px;
  padding: 0px;
  padding-top:40px;
  padding-bottom: 23px;
  color: var(--font-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-us ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.item-about-us {
  margin-bottom: 29px;
  background-image: url("../img/icons/mark-li.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  padding-left: 32px;
}
.about-us img {
  padding-top: 39px;
  margin-bottom: 37px;
}
.item-about-us:last-child{
  margin-bottom: 0px;
}
.table {
color: var(--font-color);
width: 374px;
height: 112px;
}
.table-caption {
  margin-bottom: 31px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.table-string {
width: 310px;
height: 64px;
}
.table-string th {
  padding: 0px;
  margin: 0px;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-align: left;
}
.table-string td {
  margin: 0px;
  padding: 0px;
}
.percent {
  font-size: 26px;
  line-height: 40px;
  text-align: right;
  vertical-align: text-top;

}
.table-string td {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.clients {
  display: grid;
}
.list-clients {
  list-style: none;
  width: 1160px;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 2px solid var(--button-grey);
  border-bottom: 2px solid var(--button-grey);
  margin-bottom: 80px;
}
.item-clients {
  width: 199px;
  height: 52px;
  border-right: 2px solid var(--button-grey);
  padding-right: 48px;
  margin-right: 45px;
  margin-bottom: 64px;
  margin-top: 64px;
}

.item-clients:last-child {
  border:none;
}
.item-clients a {
  opacity: 0.2;
}
.borodinski-logo {
  margin-top: -20px;
}
.mishka-logo {
  margin-top: -20px;
}
.item-clients:nth-child(2){
  width: 209px;
  padding-right: 44px;
  margin-right: 58px;
}

.item-clients:nth-child(3){
  width: 185px;
  padding-right: 55px;
  margin-right: 63px;
}
.item-clients:nth-child(4){
  width: 173px;
  margin-right: 41px;
}
.item-clients a:hover {
  opacity: 1;
}
.item-clients a:active {
  opacity: 10%;
}
.main-footer {
  list-style: none;
  width: 1440px;
  margin: 0px;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-rows: 416px min-content min-content;
  grid-template-columns: 459px min-content;
}
.map{
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  grid-column: 1/-1;
  grid-row: 1/2;
}
/* .img-map{

} */
.social {
margin-top: 68px;
margin-left: 140px;
margin-right: auto;

}
.contacts {
background-color:var(--basic-white) ;
display: grid;
grid-template-rows: min-content min-content min-content 1fr;
grid-template-columns: 319px min-content;
width: 319px;
height: 308px;
grid-column: 1/-1;
grid-row: 1/2;
z-index: 1;
margin-top: 54px;
margin-left: 140px;
margin-right: auto;
}
.contacts p {
margin: 0px;
padding: 0px;
margin-left:50px ;
margin-top: 49px;
font-size: 18px;
line-height: 30px;
font-weight: 700;
text-transform: uppercase;
color: var(--font-color);
}

.contacts address{
margin: 0px;
padding: 0px;
margin-top: 23px;
margin-left: 50px;
font-style: normal;
font-size: 16px;
line-height: 18px;
font-weight: 400;
color: var(--font-address);
grid-column: 1/2;
grid-row: 2/3;
}
.contacts a {
  margin: 0px;
  padding: 0px;
  margin-left: 50px;
  margin-top: 16px;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--font-address);
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 3/4;
}
.contacts img{
  margin-top: 16px;
  margin-left: 388px;
  grid-column: 2/3;
  grid-row: 1/-1;
}
.social ul {
  list-style: none;
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: min-content min-content min-content;
}
.contacts button {
  width: 219px;
  height: 50px;
  grid-column: 1/2;
  grid-row: 4/5;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}
/* .list-social {

  } */
.social-grid {
  display: grid;
  width: 1160px;
  grid-template-columns: min-content 1fr ;
  margin-left: auto;
  margin-right: auto;
}
.social-icon{
  margin: 0px;
  padding: 0px;
  width: 81px;
  height: 81px;
  background:var(--icons-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon:hover {
background-color:var(--button-hover) ;
}
.social-icon:active {
  background-color: var(--button-active);
}
.social-icon:active svg {
opacity: 0.2;
}
.social-icon svg {
  fill: var(--basic-white);
}
.footer-title {
  margin: 0px;
  padding: 0px;
  margin-left: 63px;
}
.title {
  margin: 0px;
  padding: 0px;
  margin-top: 75px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--font-color);
}
.desc {
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 74px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--font-address);
}
.modal {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--font-color);
  width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px  100px 215px 1fr ;
}
.modal-caption {
  grid-column:1/2;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--font-color);
}
.feedback-form{
  width: 360px;
  min-height: 50px;

}
.letter-container {
  grid-row:3/4;
  grid-column: 1/3;
}
.letter {
width: 760px;
min-height: 118px;
}
.modal-button {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 259px;
  height: 50px;
}
.modal-close {
  padding: 0;
  border: none;
  background-color: var(--basic-white);
  text-decoration: none;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close svg {
fill:var(--button-color);
opacity: 0.3;
}
.modal-close svg:hover {
  opacity: 1;
}
.modal-close svg:active {
  opacity: 10%;
}
/* .modal .button {

} */
.headline {
font-size: 55px;
line-height: 55px;
color: var(--font-color);
text-align: center;
}
.main-grid {
  display: grid;
  grid-template-columns:260px 1fr ;
  margin-left: auto;
  margin-right: auto;
  gap: 140px;
  width: 1160px;
}
.price-filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}
/* .price-filter input {

} */
.form-filter {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  width: 260px;
}
.form-filter fieldset {
  border:none;
  margin: 0px;
  padding: 0px;
}
.type-grid legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}
.type-grid ul {
  list-style: none;
}
.product-container {
  display: grid;
  grid-template-rows:30px 1fr 50px;
  margin: 0px;
  padding: 0px;
}
/*
.item-type {

}

 .radio {
  margin-left: -1em;
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/icons/radio-off-.svg);
  background-repeat: no-repeat;
}
.radio-input {
  padding-left: 1em;
  -webkit-appearance: none;
  appearance: none;

}
.radio-input:checked + .radio {
    background-image: url(../img/icons/radio-on.svg);
}
*/
/* .item-features {

} */
.features legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--font-color);
}
.features ul {
  list-style: none;
}
.grey-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--basic-color);
  border-radius: 3px
}
.grey-button:hover {
  background-color: var(--button-greyhover);
}
.grey-button:active {
  background-color: var(--button-greyactive);
  color: var(--button-textactive);
  box-shadow:inset 0px 3px 0px var(--button-shadow);
}
.breadcrumbs{
  margin: 0px;
  padding: 0px;
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: 140px 1fr 40px;
}
.breadcrumbs ul {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
}
.breadcrumbs p {
  margin: 0px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}
.list-breadcrumbs {
  display: inline-block;
}
.breadcrumbs-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
}
.active-filterbtn {
opacity: 1;
}
.pruduct {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  display: flex;
  padding: 0px;
  margin: 0px;
  width: 760px;
  }
.pruduct ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.item-product {
margin: 0px;
padding: 0px;
display: flex;
border:none;
width: 358px;
margin-right: 40px;
margin-bottom: 31px;
position: relative;
align-items: flex-start;
}
.item-product:nth-child(2n) {
  margin-right: 0px;
}
.hidden-head {
width: 358px;
height: 40px;
opacity: 0.12;
position: absolute;
}
.hidden-desc {
  text-align: center;
  width: 358px;
  height: 231px;
  background-color: var(--button-grey);
  border-radius:0px 0px 3px 3px;
  position: absolute;
  align-self:flex-end;
}
.hidden-desc a{
text-decoration: none;
color: var(--font-color);
text-transform: uppercase;
font-size:18px;
line-height: 30px;
font-weight: 700;
}
.item-product img {
  margin:0px;
  border-radius:0px 0px 3px 3px;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}
.desc {
  color:var(--font-address);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.item-button:active {
  color: var(--basic-white);
  opacity: 1;
}
.desc {
  color:var(--font-address);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
/* .pagination {

} */
.pagination ul{
list-style: none;
display: inline-block;
}
.list-pagination {
display: inline-block;
}
.list-pagination a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font-color);
  background-color:var(--button-grey) ;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
}
.list-pagination a:hover {
  background-color:var(--button-greyhover);

}
.list-pagination a:active {
  background-color: var(--button-greyactive);
  color: var(--font-color);
  box-shadow:inset 0px 3px 0px var(--button-shadow);
  color: var(--font-black30);
}
/* Состояние выбранной страницы */
.list-pagination .active-pagination {
  background-color: var(--basic-white);
  color: var(--font-color);
  border: 3px solid var(--button-border);
}

